In [1]:
import openpyxl
wb = openpyxl.load_workbook('testdata.xlsx')

sheet = wb.active 

transformed_data = []
current_record = []

for row in sheet.iter_rows(min_row=1, max_row=sheet.max_row, min_col=1, max_col=1):
    cell_value = row[0].value
    if cell_value is None:
        if current_record:
            transformed_data.append(' '.join(current_record))
            current_record  = []
    else:
        current_record.append(cell_value)

if current_record:
    transformed_data.append(' '.join(current_record))


for record in transformed_data:
    print(record)

Aaliyah Alexander aaliyahalexander@bcbstx.com (972)766-6900 Customer Advocate TX, Blue Cross and Blue Shield of Texas
Aaliyah Alexander aaliyah_alexander@bcbstx.com (972)766-6900 Customer Advocate TX, Blue Cross and Blue Shield of Texas
a allen annette_allen@bcbstx.com (903)934-7309 customer advocate specilist TX, Blue Cross and Blue Shield of Texas
Aamir Abedeen aamir.abedeen@excellus.com (585)454-1700 Requirements Analyst NY, Excellus BlueCross and BlueShield (Rochester)
Aaren Adams aaadams@tmghealth.com (570)344-9237 Remote Claims Processor PA, TMG Health, Inc.
Aarika Angry aangry@bcbsm.com (800)255-1878 Customer Service Representative II MI, Blue Cross Blue Shield of Michigan

In [2]:
transformed_data

['Aaliyah Alexander aaliyahalexander@bcbstx.com (972)766-6900 Customer Advocate TX, Blue Cross and Blue Shield of Texas',
 'Aaliyah Alexander aaliyah_alexander@bcbstx.com (972)766-6900 Customer Advocate TX, Blue Cross and Blue Shield of Texas',
 'a allen annette_allen@bcbstx.com (903)934-7309 customer advocate specilist TX, Blue Cross and Blue Shield of Texas',
 'Aamir Abedeen aamir.abedeen@excellus.com (585)454-1700 Requirements Analyst NY, Excellus BlueCross and BlueShield (Rochester)',
 'Aaren Adams aaadams@tmghealth.com (570)344-9237 Remote Claims Processor PA, TMG Health, Inc.',
 'Aarika Angry aangry@bcbsm.com (800)255-1878 Customer Service Representative II MI, Blue Cross Blue Shield of Michigan']

In [5]:
import pandas as pd
df = pd.read_excel('testdata.xlsx', header=None, sheet_name='Sheet1', index_col=None)
df

                                                    0
0                                   Aaliyah Alexander
1                         aaliyahalexander@bcbstx.com
2                                       (972)766-6900
3                                   Customer Advocate
4             TX, Blue Cross and Blue Shield of Texas
5                                                 NaN
6                                   Aaliyah Alexander
7                        aaliyah_alexander@bcbstx.com
8                                       (972)766-6900
9                                   Customer Advocate
10            TX, Blue Cross and Blue Shield of Texas
11                                                NaN
12                                            a allen
13                           annette_allen@bcbstx.com
14                                      (903)934-7309
15                        customer advocate specilist
16            TX, Blue Cross and Blue Shield of Texas
17                                                NaN
18                                      Aamir Abedeen
19                         aamir.abedeen@excellus.com
20                                      (585)454-1700
21                               Requirements Analyst
22  NY, Excellus BlueCross and BlueShield (Rochester)
23                                                NaN
24                                        Aaren Adams
25                              aaadams@tmghealth.com
26                                      (570)344-9237
27                            Remote Claims Processor
28                               PA, TMG Health, Inc.
29                                                NaN
30                                       Aarika Angry
31                                   aangry@bcbsm.com
32                                      (800)255-1878
33                 Customer Service Representative II
34             MI, Blue Cross Blue Shield of Michigan

In [7]:
df.head(10)

                                         0
0                        Aaliyah Alexander
1              aaliyahalexander@bcbstx.com
2                            (972)766-6900
3                        Customer Advocate
4  TX, Blue Cross and Blue Shield of Texas
5                                      NaN
6                        Aaliyah Alexander
7             aaliyah_alexander@bcbstx.com
8                            (972)766-6900
9                        Customer Advocate

In [16]:
df.head()

                                         0
0                        Aaliyah Alexander
1              aaliyahalexander@bcbstx.com
2                            (972)766-6900
3                        Customer Advocate
4  TX, Blue Cross and Blue Shield of Texas

In [ ]:
rows = []
# to iterate over rows till black row is found
for row in df.iterrows():
    if row is None:
        break
    rows.append(row)

In [ ]:
rows

[(0,
  0    Aaliyah Alexander
  Name: 0, dtype: object),
 (1,
  0    aaliyahalexander@bcbstx.com
  Name: 1, dtype: object),
 (2,
  0    (972)766-6900
  Name: 2, dtype: object),
 (3,
  0    Customer Advocate
  Name: 3, dtype: object),
 (4,
  0    TX, Blue Cross and Blue Shield of Texas
  Name: 4, dtype: object),
 (5,
  0    NaN
  Name: 5, dtype: object),
 (6,
  0    Aaliyah Alexander
  Name: 6, dtype: object),
 (7,
  0    aaliyah_alexander@bcbstx.com
  Name: 7, dtype: object),
 (8,
  0    (972)766-6900
  Name: 8, dtype: object),
 (9,
  0    Customer Advocate
  Name: 9, dtype: object),
 (10,
  0    TX, Blue Cross and Blue Shield of Texas
  Name: 10, dtype: object),
 (11,
  0    NaN
  Name: 11, dtype: object),
 (12,
  0    a allen
  Name: 12, dtype: object),
 (13,
  0    annette_allen@bcbstx.com
  Name: 13, dtype: object),
 (14,
  0    (903)934-7309
  Name: 14, dtype: object),
 (15,
  0    customer advocate specilist
  Name: 15, dtype: object),
 (16,
  0    TX, Blue Cross and Blue Shield of Texas
  Name: 16, dtype: object),
 (17,
  0    NaN
  Name: 17, dtype: object),
 (18,
  0    Aamir Abedeen
  Name: 18, dtype: object),
 (19,
  0    aamir.abedeen@excellus.com
  Name: 19, dtype: object),
 (20,
  0    (585)454-1700
  Name: 20, dtype: object),
 (21,
  0    Requirements Analyst
  Name: 21, dtype: object),
 (22,
  0    NY, Excellus BlueCross and BlueShield (Rochester)
  Name: 22, dtype: object),
 (23,
  0    NaN
  Name: 23, dtype: object),
 (24,
  0    Aaren Adams
  Name: 24, dtype: object),
 (25,
  0    aaadams@tmghealth.com
  Name: 25, dtype: object),
 (26,
  0    (570)344-9237
  Name: 26, dtype: object),
 (27,
  0    Remote Claims Processor
  Name: 27, dtype: object),
 (28,
  0    PA, TMG Health, Inc.
  Name: 28, dtype: object),
 (29,
  0    NaN
  Name: 29, dtype: object),
 (30,
  0    Aarika Angry
  Name: 30, dtype: object),
 (31,
  0    aangry@bcbsm.com
  Name: 31, dtype: object),
 (32,
  0    (800)255-1878
  Name: 32, dtype: object),
 (33,
  0    Customer Service Representative II
  Name: 33, dtype: object),
 (34,
  0    MI, Blue Cross Blue Shield of Michigan
  Name: 34, dtype: object)]

In [ ]:
import openpyxl

# Load the Excel workbook
workbook = openpyxl.load_workbook('testdata.xlsx')

# Assuming the data is in the first sheet, specify the sheet name if needed
source_sheet = workbook.active

# Create a new workbook to store the transposed data
output_workbook = openpyxl.Workbook()
output_sheet = output_workbook.active

# Initialize variables to keep track of row and column positions in the output sheet
output_row = 1
output_column = 1

# Iterate through the rows in the source sheet
for row in source_sheet.iter_rows(values_only=True):
    for cell_value in row:
        # Skip blank cells
        if cell_value is not None and cell_value.strip() != "":
            # Write the non-blank cell value to the output sheet
            output_sheet.cell(row=output_row, column=output_column, value=cell_value)
            output_row += 1
        else:
            # Move to the next column in the output sheet when a blank cell is encountered
            output_row = 1
            output_column += 1

# Save the transposed data to a new Excel file
output_workbook.save('output.xlsx')

# Close both workbooks
workbook.close()
output_workbook.close()

In [ ]:
import pandas as pd

df = pd.read_excel('testdata.xlsx', header=None, sheet_name='Sheet1', index_col=None)

In [ ]:
df.head(12)

                                          0
0                         Aaliyah Alexander
1               aaliyahalexander@bcbstx.com
2                             (972)766-6900
3                         Customer Advocate
4   TX, Blue Cross and Blue Shield of Texas
5                                       NaN
6                         Aaliyah Alexander
7              aaliyah_alexander@bcbstx.com
8                             (972)766-6900
9                         Customer Advocate
10  TX, Blue Cross and Blue Shield of Texas
11                                      NaN